*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}



.Movie-container{
  display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));

}

img{
  height: 12rem;
  width: 8rem;
}

.Movie-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 150px;
  height: 200px;
  padding: 20px 5px;
  border-radius: 12px;
}
a{
  font-size: 10px;
}

@media only screen and (min-width: 1280px) {
  .Movie-container{
    display: flex;
    flex-wrap: wrap;
    padding: 100px 120px;
    background-color: red;
    
  }
}
@media only screen and (min-width: 430px) {
  .Movie-container{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    background-color: blue;
    gap: 12px;
    
  }
}